
#translation_options table td { padding: 5px;}

#definitions table td { padding: 5px;}

.lists_to_play td { padding: 5px;}

/*.navbar-brand img { margin-bottom: 10px; padding-bottom: 10px;}*/
.navbar-brand { margin-bottom: 10px; }