body.has_envato_iframe {
    position: relative;
    top: 54px
}

#switcher {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 54px;
    background: #232323;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    transform: translateZ(0)
}

.preview__envato-logo {
    position: relative;
    margin: 17px 35px 0 16px;
    display: inline-block;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
    background: url(https://public-assets.envato-static.com/assets/logos/envato_market-6eed4f715209e46c7454f26f3f25f7560d9d94713c11a5717436cd18642fb0a0.svg);
    background-size: 152px 18px
}

.preview__envato-logo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#switcher #theme-list {
    position: relative;
    width: 210px;
    height: 35px;
    margin-top: 10px;
    font: 14px/34px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
}

#switcher #theme-list #theme-select {
    height: 35px
}

#switcher #theme-list a {
    display: block;
    height: 33px;
    position: relative;
    color: #fff;
    text-decoration: none;
    background: #333;
    border-radius: 5px
}

#switcher #theme-list #theme-select a {
    line-height: 28px;
    padding: 2px 11px 0 12px;
    border: 1px solid #4f4f4f;
    background: 0 0;
    color: #fff;
    opacity: 1;
    letter-spacing: .2px;
    font-size: 13px
}

#switcher #theme-list #theme-select a svg {
    position: absolute;
    right: 6px;
    top: 12px;
    width: 9px
}

#switcher #theme-list.list-opened #theme-select a svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#switcher #theme-list li {
    background: #333
}

#switcher #theme-list li a {
    border-radius: 0
}

#switcher #theme-list ul a:hover {
    opacity: 1
}

#switcher #theme-list ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0;
    margin: -1px 0 0;
    z-index: 99;
    border: 1px solid #4f4f4f;
    border-top: 0
}

#switcher #theme-list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

#switcher #theme-list li:first-child a {
    border: 0
}

#switcher #theme-list span {
    display: inline-block;
    font-family: Arial;
    position: absolute;
    right: 16px;
    top: 8px;
    padding: 0 6px;
    height: 17px;
    line-height: 17px;
    font-size: 10px;
    color: rgba(255, 255, 255, .5);
    border-radius: 3px
}

#switcher #theme-list ul li .screen {
    position: absolute;
    top: -1px;
    left: 100%;
    margin-left: -2px;
    display: none;
    z-index: -1
}

#switcher #theme-list ul li .screen img {
    border: 2px solid #fff;
    border-radius: 3px
}

#switcher #theme-list ul li:hover .screen {
    display: block
}

#switcher #theme-list ul li .screen a {
    opacity: 1;
    position: relative;
    width: 350px
}

#switcher #theme-list ul li .screen a:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    width: 6px;
    height: 16px
}

#switcher .purchase {
    margin: 9px 30px 0 auto;
    font: 400 16px/20px arial, helvetica, sans-serif
}

#switcher .purchase a {
    display: block;
    height: 34px;
    margin-top: 1px;
    padding: 0 30px;
    line-height: 33px;
    color: #fff;
    outline: 0 !important;
    font-size: 13px;
    vertical-align: top;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    background: #7e3bd0;
    text-transform: uppercase !important;
    border-radius: 3px;
    -webkit-animation: stm-button 6s ease infinite;
    animation: stm-button 6s ease infinite
}

@-webkit-keyframes stm-button {
    0%, 100% {
        background: #7e3bd0
    }
    33% {
        background: #c73bd0
    }
    66% {
        background: #3bd0c9
    }
}

@keyframes stm-button {
    0%, 100% {
        background: #7e3bd0
    }
    33% {
        background: #c73bd0
    }
    66% {
        background: #3bd0c9
    }
}

#switcher .purchase img {
    margin-top: -2px;
    margin-right: 12px;
    vertical-align: top
}

#switcher .close {
    border-left: 1px solid #333
}

#switcher .close a {
    display: block;
    padding: 0 20px;
    height: 54px;
    line-height: 58px;
    color: #999;
    text-decoration: none;
    font-size: 13px;
    vertical-align: middle;
    text-shadow: none !important
}

.switcher__link, .wp_support_banner a {
    text-decoration: none !important;
    transition: .3s ease-out
}

#switcher .close svg {
    margin-right: 9px;
    position: relative;
    top: -1px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    opacity: 1;
    fill: #fff;
    fill-rule: evenodd
}

.wp_support_banner {
    position: relative;
    width: 185px;
    text-align: left
}

.wp_support_banner a {
    display: block;
    height: 54px;
    padding: 0 22px 0 35px;
    color: #fff
}

.wp_support_banner a:hover {
    background-color: #323232
}

.wp_support_banner .stm_customization {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column
}

.wp_support_banner svg {
    position: absolute;
    top: 19px;
    left: 13px;
    width: 15px;
    height: 15px
}

.wp_support_banner svg path {
    fill: #1bc744
}

.wp_support_banner span {
    display: block;
    line-height: 13px;
    font-size: 13px
}

.wp_support_banner span.green {
    margin-top: 2px;
    color: #1bc744;
    line-height: 11px;
    font-size: 11px
}

@media screen and (max-width: 940px) {
    .wp_support_banner {
        display: none
    }
}

@media screen and (max-width: 768px) {
    #switcher .close img {
        top: 0;
        margin-right: 0
    }

    #switcher .close span {
        display: none
    }

    #switcher .purchase {
        margin-left: 20px
    }

    .theme-list-screens {
        width: 200px !important
    }
}

@media screen and (max-width: 520px) {
    .xs_clear:after {
        content: '';
        display: block;
        clear: both
    }

    #switcher {
        height: 99px
    }

    #switcher .purchase {
        margin-top: 1px;
        float: none;
        text-align: center
    }

    #switcher #theme-list {
        float: none;
        width: 215px;
        margin: 10px auto 0
    }

    #switcher .purchase a {
        display: inline-block;
        vertical-align: top;
        max-width: 100%
    }

    #switcher .close img {
        top: -1px;
        margin-right: 0
    }

    #switcher #theme-list ul {
        height: 250px;
        overflow: scroll;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px
    }

    #switcher #theme-list ul li:hover .screen, .theme-list-screens {
        display: none !important
    }
}

#switcher #theme-list ul {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -3px 4px 10px 0 rgba(0, 0, 0, .25);
    max-height: 319px;
    overflow-y: scroll
}

#switcher #theme-list ul li {
    background: #232323;
    padding: 3px 0 3px 12px
}

#switcher #theme-list ul li a {
    background: #232323;
    color: #fff;
    font-size: 13px;
    opacity: .5
}

#switcher #theme-list ul li span {
    right: 9px;
    color: #fff
}

#switcher #theme-list ul::-webkit-scrollbar {
    display: none
}

#switcher #theme-list ul li a:hover span {
    color: #fff
}

#switcher #theme-list.list-opened a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.invisible-switch {
    overflow-y: scroll
}

.invisible-switch .screen {
    display: none !important
}

.theme-list-screens {
    position: absolute;
    left: 100%;
    width: 350px;
    margin-top: 40px
}

.theme-list-screens .screen {
    display: none
}

.theme-list-screens .screen.active {
    display: block
}

#theme-list .theme-list-screens .screen img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

#switcher #theme-list .theme-list-screens a {
    min-height: 177px;
    border-radius: 7px;
    box-shadow: -3px 4px 10px 0 rgba(0, 0, 0, .25)
}

#switcher #theme-list .theme-list-screens a img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

#stm_wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 999999
}

@media only screen and (max-width: 520px) {
    #switcher, #switcher #iframe {
        height: 54px !important
    }

    #switcher #theme-list, .xs_clear {
        display: none
    }

    #switcher .purchase {
        margin-top: 7px;
        margin-right: 20px
    }

    #switcher .close a {
        height: 50px;
        line-height: 54px
    }
}

#stm_theme_customization_banner {
    display: block
}

.switcher__center, .switcher__left, .switcher__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.switcher__link svg, .switcher__link svg.stm_wordpress {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.switcher__center {
    margin: 0 auto
}

.switcher__right {
    margin-left: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.switcher__links {
    display: flex;
    align-items: center;
    margin-top: 0 !important;
    width: 200px
}

.switcher__link {
    font-size: 13px;
    color: #fff;
    margin-left: 15%;
    vertical-align: top;
    opacity: .5
}

.switcher__link:hover {
    opacity: 1
}

.switcher__link > * {
    vertical-align: top
}

.switcher__link svg {
    margin: -1px 4px 0 0 !important;
    fill: #fff
}

.switcher__link svg.stm_wordpress {
    margin: 0 4px 0 0 !important
}

.stm_wheel_svg {
    fill: #fff
}

@media (min-width: 1400px) {
    .switcher__links {
        margin-left: 10%
    }
}

@media (max-width: 1130px) {
    .switcher__links {
        display: none
    }
}

@media screen and (max-width: 768px) {
    #switcher .close span, .switcher__center {
        display: none
    }
}

@media (max-width: 650px) {
    #theme-list {
        display: none
    }
}

@media (max-width: 430px) {
    .preview__envato-logo {
        width: 118px;
        margin: 15px 12px 0 10px;
        background-size: 118px 18px;
        background-repeat: no-repeat
    }

    #switcher .purchase a {
        padding: 0 15px;
        text-transform: none
    }
}

a {
    outline: 0 !important
}

/* Right-to-left styling */
body.rtl.has_envato_iframe #switcher #theme-list #theme-select a {
    padding: 2px 20px 0 12px !important;
}

body.rtl.has_envato_iframe #switcher #theme-list ul li a {
    padding-right: 10px !important;
}

body.rtl.has_envato_iframe #switcher #theme-list ul li span {
    left: 0 !important;
    right: auto !important;
}