* {
  font-family: 'Nunito', sans-serif !important;
}

.idone {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 20px;
  display: none;
}

.idone h2 {
  font-size: 30px;
}

.idone button {
  background: transparent;
  margin-top: 20px;
  color: #007eff;
  border: 2px solid #fea633;
  padding: 4px 38px;
  line-height: 42px;
  transition: all 0.3s; 
  border-radius: 12px 30px;
  font-family: 'Quicksand', sans-serif;
}

.idone button:hover {
  background: #fea633;
  color: #fff;
}

.itheory-translate {
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itheory-translate span {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.itable {
  margin: 0 auto;
  margin-bottom: 30px;
  border: 2px solid #fea633;
  border-radius: 5px;
  width: 80%;
}

.itable th, td {
  font-size: 18px; font-family: 'Nunito', sans-serif !important;
  padding: 15px;
  /*border: 1px solid rgba(0,0,0,.15);*/
  /*border-left: 1px solid rgba(0,0,0,.15);*/
  /*border-right: 0px solid rgba(0,0,0,.15);*/
}

.itable tbody th, table tbody td {
  font-size: 18px; font-family: 'Nunito', sans-serif !important;
}

.itable td { border-bottom: 1px  solid #e6e6e6;  }

.vc_label {
  position: relative;
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.50px;
  text-transform: uppercase;
  color: #007eff;
  margin-left: 20px; 
}

.vc_label::before {
  content: "›";
  font-family: "Times New Roman", serif;
  margin-right: 4px;
  font-size: 16px;
  color: #fea633;
}

.hourglass__wrap {
  position: relative; /* Stay in place */
  z-index: 2222; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  opacity: 0;
}
.hourglass {
  animation: flip 10s ease-in-out infinite;
  border-bottom: solid 1vmin #630;
  border-top: solid 1vmin #630;
  left: 90%;
  margin-left: -6vmin;
  margin-top: -11vmin;
  padding: 0 1vmin;
  position: absolute;
  margin-top: 30px;
}
.hourglass .top, .hourglass .bottom {
  background-color: #def;
  box-shadow: 0 0 1vmin 1vmin #bcd inset;
  height: 6vmin;
  overflow: hidden;
  position: relative;
  width: 6vmin;
}
.hourglass .top {
  border-radius: 0 0 50% 50%;
}
.hourglass .top:before {
  animation: top 10s linear infinite;
  background-color: #fc6;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10vmin;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  width: 10vmin;
}
.hourglass .top:after {
  animation: top-drip 10s linear infinite;
  background-color: #fc6;
  content: "";
  display: block;
  height: 100%;
  left: 45%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 10%;
}
.hourglass .bottom {
  border-radius: 50% 50% 0 0;
}
.hourglass .bottom:before {
  animation: bottom 10s linear infinite;
  background-color: #fc6;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10vmin;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 10vmin;
}
.hourglass .bottom:after {
  animation: bottom-drip 10s linear infinite;
  background-color: #fc6;
  content: "";
  display: block;
  height: 100%;
  left: 45%;
  position: absolute;
  top: 0;
  width: 10%;
}
@keyframes flip {
  0%, 45% {
    transform: rotate(0);
 }
  50%, 95% {
    transform: rotate(180deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
@keyframes bottom {
  0% {
    transform: translateY(100%);
 }
  50% {
    transform: translateY(50%);
 }
  51% {
    transform: translateY(-50%);
 }
  100% {
    transform: translateY(-100%);
 }
}
@keyframes top {
  0% {
    transform: translateY(50%);
 }
  50% {
    transform: translateY(100%);
 }
  51% {
    transform: translateY(-100%);
 }
  100% {
    transform: translateY(-50%);
 }
}
@keyframes bottom-drip {
  0% {
    left: 45%;
    transform: translateY(-100%);
    width: 10%;
 }
  5% {
    transform: translateY(0);
 }
  45%, 100% {
    left: 50%;
    transform: translateY(0);
    width: 0;
 }
}
@keyframes top-drip {
  0%, 50% {
    left: 45%;
    transform: translateY(100%);
    width: 10%;
 }
  55% {
    left: 45%;
    transform: translateY(0);
    width: 10%;
 }
  100% {
    left: 50%;
    transform: translateY(0);
    width: 0;
 }
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.settings_wrap {
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  cursor: default;
}

.settings_wrap div {
  display: flex;
  max-width: 280px;
  cursor: pointer;
}

.settings_wrap h3 {
  margin-left: 10px;
}

.settings_wrap img {
  width: 40px;
  height: 40px;
}

.settings__content {
  display: none;
}

.settings-active {
  display: block;
}

.iprogress {
  width: 100%;
  margin-bottom: 50px;
}

.iprogress h3 {
  font-size: 15px;
  color: #007eff;
  margin-bottom: 5px;
  margin-left: 20px;
}

.iprogress__bar {
  width: 100%;
  height: 30px;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  box-shadow: inset 0px 0px 1px 0px #999;
}

.iprogress__bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #007eff;
  border-radius: 100px 0px 0px 100px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.itheory {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.itheory__text {
  width: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.itheory__text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.itheory__text ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.itheory__text ul li p {
  font-size: 30px;
  text-align: center;
}

.itheory__text ul li img {
  width: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.itheory__text ul li:nth-child(odd) {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fea633;
}

.itheory__video {
  width: 600px;
}

.itheory__video video {
  width: 100%;
  border-radius: 20px;
  border: 5px solid #fea633;
}

.itheory__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: -20px;
}

.itheory__btns button {
  background: transparent;
  margin-top: 20px;
  color: #007eff;
  border: 2px solid #fea633;
  padding: 4px 38px;
  line-height: 42px;
  transition: all 0.3s; 
  border-radius: 12px 30px;
  font-family: 'Quicksand', sans-serif;
}

.itheory__btns button:hover {
  background: #fea633;
  color: #fff;
}

.icustome-btn { 
  background: transparent;
  margin-top: 20px;
  color: #007eff;
  border: 2px solid #fea633;
  padding: 4px 38px;
  line-height: 42px;
  transition: all 0.3s; 
  border-radius: 12px 30px;
  font-family: 'Quicksand', sans-serif;
}

.icustome-btn:hover {
  background: #fea633;
  color: #fff;
}

.iengToRus {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iengToRus h2 {
  font-size: 40px;
}

.iengToRus-word {
  font-size: 20px;
  color: #007eff;
  margin-top: -20px;
}

.iengToRus__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;
}

.iengToRus__wrap-item {
  width: 250px;
  padding: 20px;
  display: flex;
  background: transparent;
  border: 3px solid #fea633;
  border-radius: 15px;
  font-size: 20px;
  transition: all 0.3s;
  color: #000;
  cursor: pointer;
}

.iengToRus__wrap-item p {
  color: #000;
}

.iengToRus__wrap-item:hover {
  background: #fea633;
  color: #fff;
}

.iengToRus__wrap-item p:nth-child(1) {
  margin-right: 20px;
}

.iengToRus button {
  width: 250px;
  height: 50px;
  background: #ebeef0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  color: #000;
}

.irusToEng {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.irusToEng h2 {
  font-size: 40px;
}

.irusToEng-word {
  font-size: 20px;
  color: #007eff;
  margin-top: -20px;
}

.irusToEng__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;
}

.irusToEng__wrap-item {
  width: 250px;
  padding: 20px;
  display: flex;
  background: transparent;
  border: 3px solid #fea633;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.3s;
  color: #000;
  cursor: pointer;
}

.irusToEng__wrap-item p {
  color: #000;
}

.irusToEng__wrap-item:hover {
  background: #fea633;
  color: #fff;
}

.irusToEng__wrap-item p:nth-child(1) {
  margin-right: 20px;
}

.irusToEng button {
  width: 250px;
  height: 50px;
  background: #ebeef0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  color: #000;
}

.iaudio {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iaudio h2 {
  font-size: 40px;
}

.iaudio-word {
  font-size: 20px;
  color: #007eff;
  margin-top: -20px;
}

.iaudio__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;
}

.iaudio__wrap-item {
  width: 250px;
  padding: 20px;
  display: flex;
  background: transparent;
  border: 3px solid #fea633;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.3s;
  color: #000;
  cursor: pointer;
}

.iaudio__wrap-item p {
  color: #000;
}

.iaudio__wrap-item:hover {
  background: #fea633;
  color: #fff;
}

.iaudio__wrap-item p:nth-child(1) {
  margin-right: 20px;
}

.iaudio button {
  width: 250px;
  height: 50px;
  background: #ebeef0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  color: #000;
}

.iaudio__question {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.iaudio__question img {
  width: 60px;
  cursor: pointer;
  margin-right: 10px;
}

.iwrite {
  width: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.iwrite h2 {
  font-size: 40px;
  text-align: center;
}

.iengToRus-wrong {
  background: #E98D8C;
  border: #E98D8C;
  color: #E98D8C;
}

.iengToRus-wrong:hover {
  background: #E98D8C;
}

.iengToRus-right {
  background: #4EAD84;
  border: #4EAD84;
  color: white;
}

.iengToRus-right:hover {
  background: #4EAD84;
}

.iwrite__wrap {
  width: 100%;
  padding: 20px;
  background: #ebeef0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0px 10px;
  grid-auto-rows: minmax(75px, auto);
}

.iwrite__wrap-item {
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.iwrite__wrap-right {
  background: #b7ed91;
}

.iwrite__wrap-wrong {
  background: #f57171;
}

.iwrite__btns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0px 21px;
  grid-auto-rows: minmax(75px, auto);
  margin-top: 20px;
}

.iwrite__btns-item {
  width: 60px;
  height: 60px;
  background: #ebeef0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.iwrite p {
  text-align: center;
  color: #007eff;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.iwrite__answerBtns {
  display: flex;
  justify-content: center;
}

.iwrite__answerBtns button {
  width: 200px;
  height: 50px;
  background: #ebeef0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  color: #000;
}

.iwrite__answerBtns button:nth-child(1) {
  margin-right: 20px;
}

@media (max-width: 600px) and (min-width: 423px) {
  .iwrite {
      width: 100%;
  }

  .iwrite__wrap {
      grid-template-columns: repeat(5, 1fr);
  }

  .iwrite__btns {
      grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 422px) and (min-width: 320px) {
  .iwrite {
      width: 100%;
  }

  .iwrite__wrap {
      grid-template-columns: repeat(3, 1fr);
  }

  .iwrite__btns {
      grid-template-columns: repeat(3, 1fr);
  }

  .iwrite__answerBtns {
      flex-direction: column;
      align-items: center;
  }

  .iwrite__answerBtns button:nth-child(1) {
      margin-right: 0px;
  }
}

@media (max-width: 574px) and (min-width: 320px) {
  .iengToRus {
      width: 100%;
  }

  .iengToRus-word {
      text-align: center;
  }

  .iengToRus__wrap {
      grid-template-columns: repeat(1, 1fr);
  }

  .iengToRus__wrap-item {
      margin: 0 auto;
  }

  .irusToEng {
      width: 100%;
  }

  .irusToEng-word {
      text-align: center;
  }

  .irusToEng__wrap {
      grid-template-columns: repeat(1, 1fr);
  }

  .irusToEng__wrap-item {
      margin: 0 auto;
  }

  .iaudio {
      width: 100%;
  }

  .iaudio-word {
      text-align: center;
  }

  .iaudio__wrap {
      grid-template-columns: repeat(1, 1fr);
  }

  .iaudio__wrap-item {
      margin: 0 auto;
  }
}

@media (max-width: 991px) and (min-width: 701px) {
  .itheory__video {
      width: 400px;
  }
}

@media (max-width: 700px) and (min-width: 431px) {
  .itheory__video {
      width: 400px;
  }

  .itheory {
      flex-direction: column;
  }
}

@media (max-width: 430px) and (min-width: 230px) {
  .itheory__video {
      width: 100%;
  }

  .itheory {
      flex-direction: column;
  }

  .itheory__text ul li {
      font-size: 25px;
  }

  .itheory__btns button {
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
  }
}