.vc_bar {
	min-width: 3em;
}

.training-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
}

.training-type-1, .training-type-5 {
	width: 700px;
	position: relative;
}

.training-type-2, .training-type-3 {
	width: 500px;
	position: relative;
}

.training-video-container {
	margin-top: 20px;
}

.training-translates-and-examples {
	margin-top: 28px;
}

.training-translates-and-examples .training-col:last-child {
	flex-grow: 2;
}

.training-title {
	margin: 0 0 24px 0;
	font-weight: 600;
}

.training-sub-title {
	font-size: .5em;
	font-weight: 100;
}

.training-timer-image {
	height: 100%;
	background-image: url('/static/img/sand-glass-woo.png');
	background-repeat: no-repeat;
	background-size: contain;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.training-timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.training-timer-seconds {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 8px;
}

.training-timer svg {
	display: block;
}

.training-timer-container {
	position: absolute;
	top: 0;
	right: -82px;
	height: 74px;
	width: 74px;
	/*border: 2px solid #f79468;*/
}

/*.training-timer {
	position: absolute;
	top: 0;
	right: -50px;
}

@keyframes top-clip {
	0% {}
	50% { transform: translateY(7px); }
	100% { transform: translateY(21px); }
}

@keyframes bottom-sand-path {
	0% {}
	50% { transform: translateY(7px); }
	100% { transform: translateY(0); }
}

#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
svg {
	animation-duration: 20s;
	animation-delay: 1s;
}

.training-timer_active #top-sand #top-clip-path rect {
	animation-name: top-clip;
}

.training-timer_active #bottom-sand path {
	transform: translateY(21px);
	animation-name: bottom-sand-path;
}*/

.training-word {
	font-weight: 600;
}

.training-transcription {
	opacity: .3;
}

.training-translates {
	list-style: none;
	padding: 0;
	margin: 0;
}

.training-parts-of-speech {
	/*color: #fea633;*/
	font-size: 1em;
  margin-left: 8px;
  opacity: .3;
}

.training-video {
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	overflow: hidden;
}

.training-translates .training-translates-item {
	font-size: 1.85em;
	margin-bottom: 8px;
	display: inline-block;
}

.training-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.training-col {
	flex: 1;
}

.training-col-title {
	color: #fea633;
	font-weight: 600;
}

.training-choices {
	list-style: none;
	padding: 0;
	margin: 0;
}

.training-choices-item {
	flex: 1 0 45%;
	position: relative;
	font-size: 1.85em;
	color: #6d6e70;
	border: 1px solid #e6e6e6;
	background-color: #fafafa;
	border-radius: 10px;
	margin: 12px 12px 0 0;
	padding: 12px 20px 12px 48px;
	line-height: 1;
	cursor: pointer;
	transition: .2s ease;
}

.training-item_correct {
	border-color: #3e8a69 !important;
	background-color: #4ead84 !important;
}

.training-item_correct, .training-item_incorrect {
	pointer-events: none;
}

.training-item_incorrect .training-choices-value, .training-item_correct .training-choices-value {
	color: #fff;
}

.training-item_incorrect {
	border-color: #e16361 !important;
	background-color: #e98d8c !important;
}

.training-translates-item:hover, .training-btn-play-audio:hover {
	color: #fea633;
}

.training-letters-item:hover, .training-choices-item:hover {
	background-color: #fea633;
}

.training-letters-item:hover, .training-choices-item:hover .training-choices-value {
	color: #fff;
}

.training-choices-index {
	position: absolute;
	left: 20px;
	opacity: .3;
}

.training-choices-value {
	margin-left: 10px;
	min-height: 80px;
}

.training-controls {
	text-align: center;
}

.training-controls button {
	margin: .25em;
}

.training-options {
	display: none;
}

.training-translates-item, .training-btn-play-audio {
	cursor: pointer;
	transition: .2s ease;
}

/*.training-video {
	position: relative;
}*/

.training-video-item {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

/*.training-video-overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}

.training-video-overlay:hover .training-video-play {
	font-size: 3.4em;
}

.training-video-play {
	font-size: 3em;
	color: #fff;
	opacity: .7;
	transition: .2s ease;
}*/

.training-irregular-verbs, .training-examples-table {
	border: 2px solid #fea633;
	border-radius: 10px;
	padding: 16px;
}

.training-examples-table_more .training-examples:not(:nth-child(2)) {
	display: none;
}

.training-examples-controls-item {
	display: block;
	text-align: right;
	cursor: pointer;
	font-size: 1.2em;
  margin: 8px 8px 0 0;
  color: #fea633;
}

.training-examples-hide {
	display: none;
}

.training-irregular-verbs-item, .training-examples-item {
	padding: 8px 0;
}

.training-examples-item .training-flex .training-col:first-child {
	margin-right: 8px;
}

.training-irregular-verbs .training-flex:last-child, .training-examples-item {
	border-bottom: 1px solid #e6e6e6;
}

.training-irregular-verbs {
	margin-bottom: 28px;
}

.training-letters-area {
	display: flex;
	flex-wrap: wrap;
	min-height: 48px;
	padding: 8px;
	border: 1px solid #e6e6e6;
	background-color: #fafafa;
	border-radius: 10px;
	box-shadow: 0 1px 0 0 rgb(255 255 255 / 20%), 0 2px 0 0 rgb(0 0 0 / 5%) inset;
}

.training-letters-area_active {
  animation: 1.2s ease-in-out trambling-animation;
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: translateX(0);
  }
  10%, 30% {
    transform: translateX(-5px);
  }
  20%, 40% {
    transform: translateX(5px);
  }
}

.training-letters {
	display: flex;
	justify-content: center;
}

.training-letters-item {
	border: 1px solid #e6e6e6;
	background-color: #fff;
	padding: 0.8em 1em;
	border-radius: 10px;
	margin: 8px;
	cursor: pointer;
	transition: .2s ease;
}

.training-letters-item_active {
	pointer-events: none;
	color: transparent;
	background-color: #fafafa;
	box-shadow: 0 1px 0 0 rgb(255 255 255 / 20%), 0 2px 0 0 rgb(0 0 0 / 5%) inset;
}

.training-letters-controls {
	text-align: center;
}

.training-letters-show {
	display: none;
}

.training-finish {
	text-align: center;
}

@media (max-width: 700px) {
	.training-type-2, .training-type-3, .training-type-5, .training-type-1 {
		width: auto;
	}

	.training-choices {
		flex-direction: column;
	}

	.training-timer-container {
		position: relative;
		margin-bottom: 28px;
		left: 50%;
		transform: translateX(-50%);
	}

	.training-choices-item {
		margin-right: 0;
	}

	.training-translates-and-examples {
		display: block;
	}

	.training-translates {
		margin-bottom: 8px;
	}
}